<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="post-heading">
      <h1><%- postData.title %></h1>
      <span class="meta">
        <%= new Date(postData.dateCreated).toLocaleDateString("tr-TR") %>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <p><%- postData.detail %></p>
  </div>
</div>
